/* HTML covers the behavior of the entire page */
html {
  scroll-behavior: smooth;
  filter: blur(80%);
  padding-inline: 8%;
  animation: blur 3s;
  animation-fill-mode: both;
}
/* Animation made for the initial impression of the webpage */
@keyframes blur {
  from {
    opacity: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  to {
    opacity: 1;
    filter: blur(0%);
    padding-top: 2%;
    padding-bottom: 2%;
    }
}

#box-shadow {
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(180deg, rgb(200, 250, 225), beige);
  box-shadow: 0 4px 8px 0 #25273c, 0 6px 8px 0 #25273c;
}

body {
  background: beige;
}

.name {
  color: #25273c;
  margin-top: 1px;
  width: 25%;
  background-color: beige;
  box-shadow: 0 4px 8px 0 #25273c, 0 6px 8px 0 #25273c;
  cursor: default;
}

/* Profile image displayed here */
.avatar {
  width: 100px;
  height: 100px;
  border: 4px rgb(125, 125, 125);
  border-radius: 4px;
  border-style: double;
}

.developer {
  color: rgb(125, 125, 125);
  cursor: default;
}

a {
  color: blue;
}

a:link {
  margin: 4px 2px auto;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  word-spacing: 10px;
}

a:hover {
  color: crimson;
}

a:active {
  color: azure;
}
/* For the line underneath nav */
.navline {
  padding-bottom: 20px;
  border-bottom: thin solid #25273c;
}

.about {
  padding: 1%;
  padding-bottom: 60px;
  color: #25273c;
  font-size: 20px;
  font-style: italic;
}

.about:hover {
  border-bottom: thin dotted #25273c;
}

h3 {
  width: 20%;
}

section {
  color:rgb(125, 125, 125);
  display: flex;
  flex: wrap;
}

p {
  width: 80%;
}

img:nth-child(1) {
  margin: 25px;
  align-items: center;
  display: inline-block;
  border: thin solid #25273c;
  opacity: 0.1;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

img:nth-child(1):hover {
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 #25273c, 0 6px 8px 0 #25273c;
  opacity: 1;
}

.material-icons {
  padding-top: 15px;
}

.contact {
  opacity: 0.08;
  font-size: 20px;
}

.contact:hover {
  box-shadow: 0 4px 8px 0 #25273c, 0 6px 8px 0 #25273c;
  opacity: 1;
  transition: all 0.2s ease-in;
}

/* Adding a tooltip to the email to view the address before clicking on it */
.tooltip {
  position: relative;
  right: 100px;
  cursor: pointer;
  font-size: 24px;
}

.tooltip .tooltiptext {
  position: absolute;
  top: 100%;
  left: -25%;
  color: #25273c;
  font-style: italic;
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

footer {
  text-align: center;
}